# Example README.md.js
You should setup your module's readme like you normally would.

## Variables
Variables that do not provide a default value are **required**.

{% for var in variables %}
###### {{ var["name"] }}
{% if "type" in var %}
- **type** : _{{ var["type"] }}_
{% endif %}
{% if "description" in var %}
- **description** : _{{ var["description"] }}_
{% endif %}
{% if "default" in var %}
- **default** : _{{ var["default"] }}_
{% endif %}
{% endfor %}
